<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoinsCatalog.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoinsCatalog.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>KWZ7ntqJygm6aWYgpSB1jAFe45dFXxwRxtFr2M57</value>
            </setting>
            <setting name="ApiBaseUrl" serializeAs="String">
                <value>https://api.numista.com/api/v3</value>
            </setting>
            <setting name="ApiAuthoriyationPath" serializeAs="String">
                <value>/oauth_token</value>
            </setting>
        </CoinsCatalog.Settings>
    </userSettings>
</configuration>